<Page::Content>
  <div class="col-lg-9">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Top Prospects
        </h5>
        {{!-- Prints customer-table component, but doesn't have limit it to the top 5 budgets --}}
        <CustomersTable @model={{model}} />
        <LinkTo @route="customers">
          See all
        </LinkTo>
      </div>
    </div>
  </div>
</Page::Content>